<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect from oldpage to newpage" stopProcessing="true">
                    <match url=".*" />
                    <action type="Redirect" url="https://demo.dynamsoft.com/mrz-scanner/" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>